.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
.swiftpm/
icon-drafts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output
fastlane/.env.local
.bundle/
vendor/bundle/
Gemfile.lock
